# 배열(Array)
    
    - 데이터를 나열하고, 각 데이터를 인덱스에 대응하도록 구성한 데이터 구조
    - 파이썬에서는 리스트타입이 배열 기능을 제공하고 있음

## 1. 배열이 왜 필요할까?
 - 같은 종류의 데이터를 효율적으로 관리하기 위해 사용
 - 같은 종류의 데이터를 순차적으로 저장

### 1) 배열의 장점
        - 빠른 접근 가능
### 2) 배열의 단점
        - 데이터 추가가 어렵다
            - 배열을 구성하려면 배열의 사이즈를 미리 설정해야함(나는 6가지 정도의 연관된 데이터를 넣을 것이다 라는 설정이 필요함)
            - 데이터를 추가하려고 하면 배열에서는 추가 공간을 만들어야하고 새로운 배열을 만들어야함 
        - 중간에 있는 데이터를 빼는 것이 (없는 공간/ 빈공간) 안됨

## 2. 파이썬과 C언어의 배열 예제

#include <stdio.h>

int main(int argc, char * argv[])
{
    char country[3] = "US";
    printf ("%c%c\n", country[0], country[1]);
    printf ("%s\n", country);    
    return 0;
}

- c언어는 배열의 자리를 정해야함

In [6]:
# 최대 길이 지정 필요 없음 / 추가 가능
country='US'
print(country)

US

In [7]:
country = country + 'KOR'

In [9]:
print(country)

USKOR

## 3. 파이썬과 배열
 - 파이썬 리스트 활용

In [10]:
#1차원 배열 리스트로 구현시
data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [11]:
#2차원배열 리스트로 구현시
data = [[1,2,3],[4,5,6],[7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [12]:
data[1][1]

5

In [13]:
data[1]

[4, 5, 6]

In [16]:
##### 연습1 : 위의 2차원 배열에서 9,8,7 순서로 출력해보기
print(data[2][2],
data[2][1],
data[2][0])

9 8 7

#### 연습2 : 위의 dataset 리스트에서 전체 이름 안에 L 은 몇 번 나왔는지 빈도수| 출력하기

In [19]:
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [20]:
l_count=0
for data in dataset:
    for index in range(len(data)):
        if data[index] == 'L':
            l_count +=1
            
print (l_count)

5